* {
	font-family: Verdana, Helvetica, Optima, "Helvetica Neue", Monaco, "Andale Mono", Georgia, Arial;
	font-size: 9pt;
}

table tr th, table tr td {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}
table tr th {
	background: #ccccff;
	width: 80px;
	vertical-align: middle; 
}
table tr td {
	background: #dddcff;
}

table caption {
	text-align: left;
	margin-bottom: 5px;
}

table.help {
	margin-top: 25px;
	color:#666;
}
table.help tr th {
	background: #e0e0ff;
}
table.help tr td {
	background: #e9e9ff;
	width: 300px; 
	text-align: left; 
	vertical-align: top; 
	padding-left: 15px;
	padding-top: 5px;
	padding-right: 15px;
}

table.help tr td li {
	margin-bottom: 0.5em;
	margin-left: 15px;
}

table.help td, table.help td li, table.help tr td a, table.help b, table.help em, table.help u {
	font-size: 8pt;
}

h1 {
	font-size: 25px;
}

hr {
	border: 1px solid #aaa;
}

a, a:visited { color: #3542c0; }
a:hover { color: #273142; }

.formFailure {
	display: block;
	border: 1px dashed #f00;
	margin-top: 15px;
	color: #f00;
	padding: 5px;
}
.formSuccess {
	display: block;
	border: 1px dashed #690;
	margin-top: 15px;
	color: #690;
	padding: 5px;
}
.debugMessage {
	display: block;
	border: 1px dashed #f63;
	margin-top: 15px;
	color: #f63;
	padding: 5px;
}
body {
	/*reserve space for the footer*/
	padding-bottom:15px;
}
.footer {
	clear: both;
	padding: 0;
	position: fixed;
	bottom: 0px;
	background: white;
	width: 100%;
}

/*shade readonly text fields*/
input[type=text]:read-only { color:grey; }
input[type=text]:-moz-read-only { color:grey; }
input[readonly] { color:grey; }

/*show optional colums only on desktops/tablets*/
th.collapsable_1, td.collapsable_1,
th.collapsable_2, td.collapsable_2,
th.collapsable_3, td.collapsable_3,
th.collapsable_4, td.collapsable_4,
th.collapsable_5, td.collapsable_5
  { display:none; }
@media only screen and (min-width: 950px) and (orientation: portrait) { th.collapsable_1, td.collapsable_1 { display:table-cell; }}
@media only screen and (min-width: 880px) and (orientation: portrait) { th.collapsable_2, td.collapsable_2 { display:table-cell; }}
@media only screen and (min-width: 800px) and (orientation: portrait) { th.collapsable_3, td.collapsable_3 { display:table-cell; }}
@media only screen and (min-width: 700px) and (orientation: portrait) { th.collapsable_4, td.collapsable_4 { display:table-cell; }}
@media only screen and (min-width: 650px) and (orientation: portrait) { th.collapsable_5, td.collapsable_5 { display:table-cell; }}
@media only screen and (orientation: landscape) { /*always show ALL colums in landscape*/
	th.collapsable_1, td.collapsable_1,
	th.collapsable_2, td.collapsable_2,
	th.collapsable_3, td.collapsable_3,
	th.collapsable_4, td.collapsable_4,
	th.collapsable_5, td.collapsable_5 { display:table-cell; }
}

/*ToolTips for Onlinehelp that works on MobileBrowsers*/
#container {
/*  overflow:auto;*/
}
.tooltip {
	position: relative;
	display: inline-block;
	//border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
	content: "."; /*needed for MobileBrowsers*/
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #666;
  //  color: #e4e4e4;
  }
  /*a {
    color: #e39777;
  }*/
  img {
    filter: grayscale(30%);
  }
}
