<div id="adminmenu" {if $original_id} style="background:gold;" {/if} >
<form method="post" action="{$PHP_SELF}?section=member&action=search">
<strong {if $original_id}style="color:red;">{$nickname}{else}>{$adminlevel}{/if}:</strong> <!--i class="fas fa-user-plus"></i--> <a href="{$PHP_SELF}?section=member&action=insert">Benutzer anlegen</a>
 | <!--i class="fas fa-user-cog"></i--> <a href="javascript:window.location='{$PHP_SELF}?section=member&action=update&id='+parseInt(prompt('Enter Member-ID',''))">User-ID &auml;ndern</a> |
 <!--i class="fas fa-search"></i--> <input type=text name=search size=16 placeholder="Benutzersuche..." value="{$search}" title="Volltextsuche, % als wildcat"><input 
        type=text name=ingroups placeholder="grp" value="{$ingroups}" size=2 title="User aus bestimmten Gruppen
Aufzählung mit Trennzeichen , möglich
1-Admin,2-SU
3-Mitglied,4-OA,5-NotMember,6-Förd
7-Ehren
9-DeleteMe"><input 
        type=text name=offgroups placeholder="not" value="{$offgroups}" size=2 title="User NICHT in bestimmten Gruppen
Aufzählung mit Trennzeichen , möglich
1-Admin,2-SU
3-Mitglied,4-OA,5-NotMember,6-Förd
7-Ehren
9-DeleteMe"><input 
        type=submit name=submit value="Go"><input type=checkbox name=limitresult title="Limit result" {$limitresult}></form>
</div>
<hr/>
